.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

/* Estilos para cambiar el color de la selección */
.student-item.active {
  background-color: #28a745 !important; /* Verde Bootstrap */
  color: white !important; /* Texto en blanco */
  font-weight: bold;
}
