<div class="list row">
  <div class="col-md-6">

    <div class="form-group">
      <label for="description">Filtrar por Carrera </label>
      <select class="form-control" id="tipo" required [(ngModel)]="tipo" name="tipo"
        (change)="retrieveAdmisionesByProgram()">
        <option value="est">Estudiante</option>
        <option value="prof">Profesor</option>
        <option value="adm">administrativo</option>
       
      </select>
    </div>

    <h3>{{n}} Comentarios</h3>
    <ul class="list-group">
      <li class="list-group-item student-item" *ngFor="let admision of admisiones; let i = index"
        [class.active]="i == currentIndex" (click)="setActiveTest(admision, i)">

        {{i+1}} {{admision.comentario}}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentAdmision">
      <app-admision-uv-web-details (refreshList)="refreshList()" [admision]="currentAdmision"></app-admision-uv-web-details>
    </div>

    <div *ngIf="!currentAdmision">
      <br />
      <p>Seleccione un estudiante ...</p>
    </div>
  </div>
</div>