<div *ngIf="currentAdmision" class="edit-form form-container">
  <h4 class="mb-3">Datos del estudiante</h4>
  <form>
    <!-- Datos personales -->
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto">Datos personales</legend>

      <div class="form-group">
        <label for="appPaterno">Apellido Paterno</label>
        <input type="text" class="form-control" id="appPaterno" [(ngModel)]="currentAdmision.appPaterno"
          name="appPaterno" />
      </div>

      <div class="form-group">
        <label for="appMaterno">Apellido Materno</label>
        <input type="text" class="form-control" id="appMaterno" [(ngModel)]="currentAdmision.appMaterno"
          name="appMaterno" />
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="currentAdmision.nombre" name="nombre" />
      </div>
    </fieldset>

    <!-- Información académica -->
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto">Información académica</legend>

      <div class="form-group">
        <label for="programaInteres">Programa de interés</label>
        <input type="text" class="form-control" id="programaInteres" [(ngModel)]="currentAdmision.programaInteres"
          name="programaInteres" />
      </div>

      <div class="form-group">
        <label for="bachilleratoProcedencia">Escuela de procedencia</label>
        <input type="text" class="form-control" id="bachilleratoProcedencia"
          [(ngModel)]="currentAdmision.bachilleratoProcedencia" name="bachilleratoProcedencia" />
      </div>
    </fieldset>

    <!-- Información de contacto -->
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto">Información de contacto</legend>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="currentAdmision.telefono" name="telefono" />
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="currentAdmision.email" name="email" />
      </div>

      <div class="form-group">
        <label for="facebook">Facebook/Instagram</label>
        <input type="text" class="form-control" id="facebook" [(ngModel)]="currentAdmision.facebook" name="facebook" />
      </div>
    </fieldset>
  </form>
</div>

<div *ngIf="!currentAdmision" class="text-center mt-3">
  <p>No se puede acceder a esta información...</p>
</div>