<form #testForm="ngForm" (ngSubmit)="saveTest()" novalidate>
  <div class="form-container">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <!-- Datos personales 
        <fieldset class="border p-3 mb-3">
          <legend class="w-auto">Datos personales</legend>
          <div class="form-group">
            <label for="appPaterno">Apellido Paterno</label>
            <input type="text" class="form-control" id="appPaterno" required [(ngModel)]="admision.appPaterno"
              name="appPaterno" #appPaterno="ngModel" />
            <div class="text-danger" *ngIf="appPaterno.invalid && appPaterno.touched">
              <span *ngIf="appPaterno.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="appMaterno">Apellido Materno</label>
            <input class="form-control" id="appMaterno" required [(ngModel)]="admision.appMaterno" name="appMaterno"
              #appMaterno="ngModel" />
            <div class="text-danger" *ngIf="appMaterno.invalid && appMaterno.touched">
              <span *ngIf="appMaterno.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre completo</label>
            <input class="form-control" id="nombre" required [(ngModel)]="admision.nombre" name="nombre"
              #nombre="ngModel" />
            <div class="text-danger" *ngIf="nombre.invalid && nombre.touched">
              <span *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
        </fieldset>
-->

        <!-- Información académica -->
        <fieldset class="border p-3 mb-3">
          <legend class="w-auto">Quejas y/o sugerencias</legend>


          <div class="form-group">
            <label for="facultad">Facultad</label>
            <select class="form-control" id="facultad" required [(ngModel)]="admision.facultad"
              name="facultad" #facultad="ngModel">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="fnt">Facultad de Negocios y Tecnologias</option>
              <option valufacultade="fi">Facultad de Ingenieria</option>
              <option valufacultade="sea">Sistema de Enseñanza Abierta</option>
              <option valufacultade="otros">Otros</option>

            </select>
            <div class="text-danger" *ngIf="facultad.invalid && facultad.touched">
              <span *ngIf="tipo.errors?.['required']">Seleccione un tipo</span>
            </div>
          </div>
 
          <div class="form-group">
            <label for="tipo">Tipo de persona</label>
            <select class="form-control" id="tipo" required [(ngModel)]="admision.tipo"
              name="tipo" #tipo="ngModel">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="est">Estudiante</option>
              <option value="prof">Academico</option>
              <option value="adm">Personal administrativo</option>
              <option value="conf">Personal Confianza</option>
              <option value="apoyo">Personal Apoyo</option>
              <option value="tecnico">Personal Tecnico</option>
              <option value="externo">Externo</option>

            </select>
            <div class="text-danger" *ngIf="tipo.invalid && tipo.touched">
              <span *ngIf="tipo.errors?.['required']">Seleccione un tipo</span>
            </div>
          </div>
 
          <!--
          <div class="form-group" *ngIf="admision.programaInteres === 'other'">
            <label for="otroPrograma">Otra carrera no listada</label>
            <input class="form-control" id="otroPrograma" required [(ngModel)]="admision.otroPrograma" name="otroPrograma"
              #otroPrograma="ngModel" />
            <div class="text-danger" *ngIf="otroPrograma.invalid && otroPrograma.touched">
              <span *ngIf="otroPrograma.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
-->

          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select class="form-control" id="sexo" required
              [(ngModel)]="admision.sexo" name="sexo"
              #sexo="ngModel">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="masc">Masculino</option>
              <option value="fem">Femenino</option>
              <option value="nobin">No binario</option>
            </select>
            <div class="text-danger" *ngIf="sexo.invalid && sexo.touched">
              <span *ngIf="sexo.errors?.['required']">Seleccione el sexo.</span>
            </div>
          </div>
          <!--
          <div class="form-group" *ngIf="admision.bachilleratoProcedencia === 'other'">
            <label for="otroBachillerato">Otro bachillerato no listado</label>
            <input class="form-control" id="otroBachillerato" required [(ngModel)]="admision.otroBachillerato"
              name="otroBachillerato" #otroBachillerato="ngModel" />
            <div class="text-danger" *ngIf="otroBachillerato.invalid && otroBachillerato.touched">
              <span *ngIf="otroBachillerato.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
          -->

           <div class="form-group">
            <label for="comentario">Queja o sugerencia</label>
            <textarea class="form-control" id="comentario" required [(ngModel)]="admision.comentario" name="comentario"
              #comentario="ngModel"></textarea>
            <div class="text-danger" *ngIf="comentario.invalid && comentario.touched">
              <span *ngIf="comentario.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
        </fieldset>

        <!-- Información de contacto 
        <fieldset class="border p-3 mb-3">
          <legend class="w-auto">Información de contacto</legend>

          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input class="form-control" id="telefono" required pattern="[0-9]{10}" [(ngModel)]="admision.telefono"
              name="telefono" #telefono="ngModel" />
            <div class="text-danger" *ngIf="telefono.invalid && telefono.touched">
              <span *ngIf="telefono.errors?.['required']">Este campo es obligatorio.</span>
              <span *ngIf="telefono.errors?.['pattern']">Debe ser un número de 10 dígitos.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" id="email" required email [(ngModel)]="admision.email" name="email"
              #email="ngModel" />
            <div class="text-danger" *ngIf="email.invalid && email.touched">
              <span *ngIf="email.errors?.['required']">Este campo es obligatorio.</span>
              <span *ngIf="email.errors?.['email']">Debe ser un correo válido.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="facebook">Facebook/Instagram</label>
            <input class="form-control" id="facebook" required [(ngModel)]="admision.facebook" name="facebook"
              #facebook="ngModel" />
            <div class="text-danger" *ngIf="facebook.invalid && facebook.touched">
              <span *ngIf="facebook.errors?.['required']">Este campo es obligatorio.</span>
            </div>
          </div>
        </fieldset>
-->
        <!-- Botón de envío -->
        <button type="submit" class="btn btn-success w-100" [disabled]="testForm.invalid">Registrarme</button>
      </div>

      <!-- Mensaje de éxito -->
      <div *ngIf="submitted" class="text-center mt-3">
        <h4>Tu comentario se ha registrado exitosamente!</h4>
        <h3>¡Gracias!</h3>
      </div>
    </div>
  </div>
</form>